@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<title>Sidebar 05</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/sidebar-05/css/style.css">
</head>
<body>

	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">
			<div class="custom-menu">
				<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fa fa-bars"></i>
					<span class="sr-only">Toggle Menu</span>
				</button>
			</div>
			<div class="p-4">
				<h1><a href="index.html" class="logo">Mongo Db <span>Admin Paneli</span></a></h1>
				<ul class="list-unstyled components mb-5">
					<li class="active">
						<a href="#"><span class="fa fa-home mr-3"></span> Dashboard</a>
					</li>
					<li>
						<a href="/Category/Index/"><span class="fa fa-user mr-3"></span> Kategoriler</a>
					</li>
					<li>
						<a href="/Product/Index"><span class="fa fa-briefcase mr-3"></span> Ürünler</a>
					</li>
					<li>
						<a href="/Employee/Index"><span class="fa fa-sticky-note mr-3"></span> Personeller</a>
					</li>
					<li>
						<a href="/MainHome/Index"><span class="fa fa-sticky-note mr-3"></span>Anasayfa</a>
					</li>
					<li>
						<a href="/About/Index"><span class="fa fa-sticky-note mr-3"></span>Hakkında</a>
					</li>
					<li>
						<a href="/Stats/Index"><span class="fa fa-sticky-note mr-3"></span>İstatistik</a>
					</li>
					<li>
						<a href="/Services/Index"><span class="fa fa-sticky-note mr-3"></span>Hizmetler</a>
					</li>
					<li>
						<a href="/Education/Index"><span class="fa fa-sticky-note mr-3"></span>Eğitim</a>
					</li>
					<li>
						<a href="/Experince/Index"><span class="fa fa-sticky-note mr-3"></span>Deneyim</a>
					</li>
					<li>
						<a href="/References/Index"><span class="fa fa-sticky-note mr-3"></span>Referanslar</a>
					</li>
					<li>
						<a href="/Projects/Index"><span class="fa fa-sticky-note mr-3"></span>Projeler</a>
					</li>
					<li>
						<a href="/Contact/Index"><span class="fa fa-sticky-note mr-3"></span>İletişim</a>
					</li>
					<li>
						<a href="/Footer/Index"><span class="fa fa-sticky-note mr-3"></span>Footer</a>
					</li>
				</ul>
			
			</div>
		</nav>
		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5">
			@RenderBody()
		</div>
	</div>

	<script src="~/sidebar-05/js/popper.js"></script>
	<script src="~/sidebar-05/js/bootstrap.min.js"></script>
	<script src="~/sidebar-05/js/main.js"></script>
</body>
</html>