@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MongoLayout.cshtml";
}



<style>
    ::placeholder {
        color: #FF0000;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<div class="container">
    <br />
    <h3>İşlem Butonları</h3>
    <button type="button" id="btnemployeelist" class="btn btn-outline-primary">Personel Listesi</button>
    <button type="button" id="btnemployeecreate" class="btn btn-outline-info">Personel Ekle</button>
    <button type="button" id="btnemployeedelete" class="btn btn-outline-danger">Personel Sil</button>
    <button type="button" id="btnemployeeget" class="btn btn-outline-dark">Personel Getir</button>
    <button type="button" id="btnemployeeupdate" class="btn btn-outline-success">Personel Güncelle</button>
</div>

<br />
<hr />

<h3>Personel Listesi</h3>

<div id="employeelist"></div>
<hr />


<h3>Yeni Personel Girişi</h3>
<div>
    <input type="text" class="form-control" placeholder="Personel Adı"id="txtname" style="border:1px solid black"/>
    <br />
    <input type="text" class="form-control" placeholder="Personel Soyadı" id="txtsurname" style="border:1px solid black" />
    <br />
    <input type="text" class="form-control" placeholder="Personel Maaşı" id="txtsalary" style="border:1px solid black" />
    <br />
</div>


<hr />
<h3>Personel Getirme Alanı</h3>
<input type="text" class="form-control" placeholder="Personel" id="txtemployeeid" style="border:1px solid black" />

<div id="employeelistbyid">

</div>

<hr />

<div>
    <h3>Personel Silme Alanı</h3>
    <input type="text" class="form-control" placeholder="Sil" id="txtDeletedemployeid" style="border:1px solid black" />

</div>
<hr />

<div>
    <h3>
        Personel Güncelleme Sayfası
    </h3>
    <input type="text" class="form-control" placeholder="Personel Adı" id="txtidedit" style="border: 1px solid black;" />

    <br />
    <input type="text" class="form-control" placeholder="Personel Adı" id="txtnameedit" style="border:1px solid black" />
    <br />
    <input type="text" class="form-control" placeholder="Personel Soyadı" id="txtsurnameedit" style="border:1px solid black" />
    <br />
    <input type="text" class="form-control" placeholder="Personel Maaşı" id="txtsalaryedit" style="border:1px solid black" />
    <br />

</div>
<script>
    $("#btnemployeecreate").click(function () {
        let employeevalues = {
            EmployeName: $("#txtname").val(),
            EmployeSurname: $("#txtsurname").val(),
            EmployeeSalary: $("#txtsalary").val()
        };
        $.ajax({
            type: "POST",
            url: "/Employee/CreateEmployee/",
            data: employeevalues,
            success: function (funk2) {
                let result = jQuery.parseJSON(funk2);
                alert("PERSONEL EKLENDİ");

                // Personel listesini güncelle
                $("#btnemployeelist").click();
            }
        });
    });

    $("#btnemployeelist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "GET",
            url: "/Employee/EmployeeList/",
            success: function (funk1) {
                let values = JSON.parse(funk1);
                console.log(values);
                let tablehtml = `<table class="table table-bordered">
                            <tr>
                            <th>Personel ID</th>
                            <th>Personel Adı</th>
                            <th>Personel Soyadı</th>
                            <th>Personel Maaş</th>
                            </tr>`;
                $.each(values, (index, value) => {
                    tablehtml += `<tr>
                                 <td>${value.EmployeID}</td>
                                     <td>${value.EmployeName}</td>
                                     <td>${value.EmployeSurname}</td>
                                     <td>${value.EmployeeSalary}</td>
                             </tr>`;
                });
                tablehtml += `</table>`;
                $("#employeelist").html(tablehtml);
            }
        });
    });
    $("#btnemployeeget").click(function () {
        let id = $("#txtemployeeid").val();

        $.ajax({
            contentType: "application/json",
            dataType: "json",
            url: "/Employee/GetEmployee",
            data: { EmployeeId: id },
            success: function (funk3) {
                let result = jQuery.parseJSON(funk3);
                console.log(result);
                let htmlstr = `<table class="table table-hover">
                    <tr>
                    <th>Personel ID</th>
                    <th>Personel Adı</th>
                    <th>Personel Soyadı</th>
                    <th>Personel Maaşı</th>
                    </tr>
                    <tr>
                    <td>${result.EmployeID}</td>
                        <td>${result.EmployeName}</td>
                        <td>${result.EmployeSurname}</td>
                        <td>${result.EmployeSurname}</td>
                    </tr>
                    </table>`;
                $("#employeelistbyid").html(htmlstr);
            }
        });
    });
    $("#btnemployeedelete").click(function () {
        let id = $("#txtDeletedemployeid").val();

        $.ajax({
            url: "/Employee/DeleteEmployee/" + id,
            type: "Get",
            contentType: "application/json",
            success: function (funk4) {
                swal("Personel Başarıyla Silindi");
            }
        });
    });
    $("#btnemployeeupdate").click(function () {
        let values = {
            EmployeID: $("#txtidedit").val(),
            EmployeName: $("#txtnameedit").val(),
            EmployeSurname: $("#txtsurnameedit").val(),
            EmployeeSalary: $("#txtsalaryedit").val()
        };

        $.ajax({
            url: "/Employee/UpdateEmployee/",
            type: "post",
            data: values,
            success: function (funk5) {
                swal("başarıyla güncellendi");
            }
        });
    });

</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
